@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Gidole', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background-size: cover; 
    background-attachment: fixed; 
    animation: moveBackground 10s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
}

.container {
    position: relative;
    z-index: 10;
    color: black;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 1%;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    background: #fffff9;
}

.sidebar {
    font-family: 'Gidole', sans-serif;
    width: 35%;
    color: black;
    background-color: #d4dddab0;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 120px;
    border-radius: 5%;
}

.content {
    font-family: 'Gidole', sans-serif;
    color: black;
    width: 65%;
    padding: 20px;
}

p a, h3 a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

p a:hover, p a:focus, p a:active,
h3 a:hover, h3 a:focus, h3 a:active {
    color: blue; 
    text-shadow: 0 0 5px black, 0 0 10px black; 
}


h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    background-color: #d4dddab0;
    padding: 20px;
    margin: 0 0 20px 0;
}

h2 {
    background-color: #d4dddab0;
    color: black;
    padding: 5px;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

h4 {
    background-color: #fffff9;
    color: black;
    padding: 5px;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

.contact, .skills, .languages, .interests {
    font-family: 'Gidole', sans-serif;
    color: black;
    margin-top: 20px;
    text-align: left;
    border: 1px solid #fffff9;
    padding: 10px;
}

.experience, .education, .rodo, .profil {
    color: black;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #d4dddab0;
}

.count-particles {
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #fffff9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 0 0 3px 3px;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #b8ab21, rgb(244, 244, 160), #3fb2ff, rgb(184, 192, 200));
    background-size: 300% 300%;
    background-attachment: fixed;
    z-index: -1;
    pointer-events: none;
}

#particles-js canvas {
    pointer-events: none !important;
}

@keyframes moveBackground {
    0% { background-position: 0% 0%; }
    50% { background-position: 50% 50%; }
    100% { background-position: 0% 0%; }
}
